* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

header {
  background-color: #2a3d45;
  color: white;
  padding: 20px;
}

.form {
  margin-bottom: 5%;
  color: #2a3d45;
  height: auto;
}

.pic {
  width: 100%;
  margin-bottom: 40px;
  border-radius: 5%;
}

.box {
  margin-bottom: 25px;
}

.entry-titles {
  margin-bottom: 15px;
}

input.image,
input.title {
  height: 40px;
}

::placeholder {
  color: #c17c74;
}

.notes {
  height: 100px;
  padding: 10px;
}

.right {
  position: relative;
  left: 90%;
}

.save-button {
  padding: 5px 10px 5px 10px;
  background-color: #bcac9b;
  color: white;
  border-radius: 15%;
  border: 1px solid #ddc9b4;
}
