* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

header {
  background-color: #2a3d45;
  color: white;
}

ul {
  list-style-type: none;
}

.nav-bar {
  display: flex;
  align-items: baseline;
}

.nav-item {
  text-decoration: none;
  color: white;
  margin-left: 30px;
}

.form {
  margin-bottom: 5%;
  color: #2a3d45;
  height: auto;
}

.pic {
  width: 100%;
  margin-bottom: 40px;
  border-radius: 5%;
}

.entry-pic {
  width: 100%;
  margin-bottom: 40px;
  border-radius: 5%;
}

.box {
  margin-bottom: 25px;
}

.titles {
  margin-bottom: 15px;
}

input.image,
input.title {
  height: 40px;
  border: 2px solid #2a3d45;
}

textarea {
  border: 2px solid #2a3d45;
  resize: none;
}

input:hover,
textarea:hover {
  background-color: #fcf3ec;
}

::placeholder {
  color: #c17c74;
}

.notes {
  height: 100px;
  padding: 10px;
}

.right {
  position: relative;
  left: 85%;
}

.save-button {
  padding: 10px 15px 10px 15px;
  background-color: #bcac9b;
  color: white;
  font-size: 1rem;
  border-radius: 15%;
  border: 1px solid #ddc9b4;
}

.save-button:hover {
  background-color: #fcf3ec;
  color: #c17c74;
}

.save-button:active {
  background-color: #fcf3ec;
  color: #c17c74;
  box-shadow: 0 5px #7a6c5d;
  transform: translateY(4px);
}

.new-button {
  padding: 5px 10px 5px 10px;
  background-color: #c17c74;
  color: white;
  border-radius: 10%;
  border: 1px solid #ddc9b4;
  position: relative;
  left: 95%;
}

.new-button:hover {
  background-color: #fcf3ec;
  color: #c17c74;
}

.new-button:active {
  background-color: #fcf3ec;
  color: #c17c74;
  box-shadow: 0 2px #7a6c5d;
  transform: translateY(4px);
}

.cancel-button {
  background-color: white;
  color: #c17c74;
  border-radius: 15%;
  border: 1px solid #7a6c5d;
}

.cancel-button:hover {
  background-color: #fcf3ec;
  color: #c17c74;
}

.cancel-button:active {
  background-color: #fcf3ec;
  color: #c17c74;
  box-shadow: 0 2px #7a6c5d;
  transform: translateY(4px);
}

.hidden {
  display: none;
}

.edit-button {
  position: relative;
  left: 100%;
  background-color: white;
  border: none;
}

.edit-button:active {
  color: #c17c74;
  transform: translateY(4px);
  text-shadow: 0 1px #7a6c5d;
}
